{# templates/mon_espace/_form_departement.html.twig #}

{{ form_start(form_departement) }}
    {{ form_widget(form_departement) }}
    <button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(form_departement) }}
